.background {
    background-image: url('../img/frog.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

.img_center{
    display: flex;
    justify-content: center;
}

.icon_img{
    height: 300px;
    width: 600px;
}

.explanation{
  text-align: center;
}

.input-group{
  margin:0 auto;
  margin-top: 56px;
}

.home_top_img{
  margin:0 auto;
  width: 880px;
  height: 800px;
}

.thread-btn{
  margin-top: 72px;
}

.row{
  margin-left: 50px;
}