.background {
    background-image: url('../img/kaeru_Torii.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
  }

.img_center{
    display: flex;
    justify-content: center;
}

.home_icon_img{
    height: 300px;
    width: 600px;
}

.explanation{
  text-align: center;
}

.input-group{
  margin:0 auto;
  margin-top: 56px;
}

.home_top_img{
  margin:0 auto;
  width: 880px;
  height: 800px;
}

.thread-btn{
  margin-top: 72px;
}

.create_area{
  height: 600px;
  width: 750px;
  background-color: rgb(235, 235, 235);
  margin:100px auto;
}

.input_area{
  width: 600px;
}

.input_area_lg{
  width: 600px;
  height: 400px;
}




#image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment_eria{
  background-color: rgb(229, 229, 229);
  width: 600px;
  margin-left: 24px;
  padding: 5px;
  margin-top: 16px;
}

.comment_head{
  width: 800px;
  margin-left: 175px;
}

.comment_head ul{
  display: flex;
  margin-top: 20px;
}

.comment_head li{
  list-style: none;
  margin-right: 300px;
}

.user_name{
  color: rgb(123, 234, 123);
  margin-right: 20px;
  font-size: 25px;

}





.resuba_eria_left{
  background-color: rgb(229, 229, 229);
  width: 600px;
  margin-left: 150px;
  padding: 5px;
  margin-top: 16px;
}

.resuba_head_left{
  width: 800px;
  margin-left: 175px;
}

.resuba_head_left ul{
  display: flex;
  margin-top: 20px;
}

.resuba_head_left li{
  list-style: none;
  margin-right: 300px;
}


.resuba_eria_right{
  background-color: rgb(229, 229, 229);
  width: 600px;
  margin-left: 1150px;
  padding: 5px;
  margin-top: 16px;
}

.resuba_head_right{
  width: 800px;
  margin-right: 175px;
}

.resuba_head_right ul{
  display: flex;
  margin-top: 20px;
}

.resuba_head_right li{
  list-style: none;
  margin-right: 300px;
}

.ko {
  display: flex;
  justify-content: center;
}


  .left_nawa{
    float: left;
  }

  .right_nawa{

    float: right;
  }

  #nawa_bottom {
    position: fixed;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

